[Desktop Entry]
Name=Victorino Style
GenericName=Gestión de Barbería
Comment=Gestión de citas, servicios y empleados para Victorino Style
Exec=/opt/victorino-style/frontend_victorino
Icon=victorino_style
Terminal=false
Type=Application
Categories=Office;Utility;
StartupWMClass=frontend_victorino
StartupNotify=true
Keywords=barberia;citas;peluqueria;victorino;estilo;
